body {
    background-color: #FFFFFF;
    color: var(--primary-text-color);

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin: 0px;
}



.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;


}

